<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <h2>List of all records:</h2>

    <% if (persons.length > 0) { %>
      <% persons.forEach(person => { %>
        <h3 class="title"><%= person.Name %> <%= person.Surname %></h3>
        <p class="tel">Phone number: <%= person.PhoneNumber %></p>
        <br>
      <% }) %>
    <% } else { %>
      <p>List is empty.</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>